@media screen and (max-width: 400px) {
    
    /* ---------- Main ---------- */
    .main {
        padding: 20px 20px;
    }

    /* ---------- Introduction ----------- */
    .introduction {
        padding: 20px 20px;
    }

    .introduction p {
        text-indent: 20px;
    }

    /* ---------- Articles ----------- */
    .articles {
        display: block;
    }

    .articles > div {
        width: 100%;
        padding-bottom: 20px;
    }

    /* ---------- Footer ---------- */
    .footer {
        padding: 20px 20px;
    }
}