/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

a, img, span, ::before, ::after {
    display: inline-block;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

body {
    line-height: 1.285;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Container ---------*/
.container {
    height: 1000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; 
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* ---------- Side Bar --------- */
.sidebar {
    background-color: #191718;
    width:15%;
    height: 100%;
    float: left;
}

.sidebar a {
    color: #AAAAAA;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border-bottom: 1px solid #5C5C5C;
}

.sidebar a:hover {
    background-color: #5C5C5C;
    color: #FFFFFF;
}



/* --------- Content --------- */
.content {
    width: 85%;
    float: left;
}

/* ---------- Main ---------- */
.main {
    padding: 50px 100px;
}

/* ---------- Logo ---------- */
.logo {
    text-align: center;
    margin-bottom: 50px;
}

img {
    margin: 0 auto;
}

/* ---------- Introduction ----------- */
.introduction {
    text-align: center;
    padding: 50px 0;
    background-color: #EFEFEF;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    margin-bottom: 20px;
}

.introduction p {
    text-indent:50px;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}

/* ---------- Articles ----------- */
.articles {
    display: flex;
}

.articles > div {
    width: 33%;
    margin-right:50px;
}

.articles .last {
    margin-right: 0;
}

.articles h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.articles img {
    float: left;
    margin-right: 20px;
}

.articles a {
    display: inline;
    color: black;
    text-decoration: none;
}

.articles p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* ---------- Footer ---------- */
.footer {
    padding: 20px 100px;
    border-top: 1px solid #EFEFEF;
}