@media screen and (max-width: 820px) {

    /* ---------- Side Bar --------- */
    .sidebar {
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* --------- Content --------- */
    .content {
        width: 100%;
        height: 1500px;
    }

    /* ---------- Main ---------- */
    .main {
        padding: 50px 50px;
    }

    /* ---------- Introduction ----------- */
    .introduction {
        padding: 50px 50px;
    }

    .introduction p {
        width: 100%;
    }

    /* ---------- Articles ----------- */
    .articles > div {
        height: auto;
    }
}